* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* style the containers(divs) first mostly using Flexbox model*/

#img-container{
    
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 50%;
}
#details-container{
    display: flex;
    align-content: center;
    text-align: justify;
    padding: 5px;
    font-family: cursive;
}
#properties-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 1px solid transparent;
    padding: 5px;
}
img{
  
    width: 100%;
    height: 300px;
    
    max-width: 100%;
}
/* style the elements */
hr{
    margin: 5px;
}
li {
    list-style-type: none;
    padding: 10px;
}
span{
    font-family: cursive;
}
h2{
    font-size: 1em;
    text-align: center;
}
body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
main{
    
    width: 320px;
    height: 700px;
    background-color: /*rgb(3, 44, 46);*/white;
    box-shadow: 5px 5px 5px 5px #9c9a9a;
    border: 1px solid black;
    border-radius: 8px ;
    color: rgb(10, 10, 10);
    
}
footer{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px #9c9a9a
}
button{
    
    background-color: gray;
    border-radius: 10px;
    color: black;
    font-size: 1em;
    font-family: cursive;
}
button:hover{
    background-color:rgb(109, 58, 58);
}